GEMINI_API_KEY=
ELEVEN_LABS_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
PYTHON_API_URL=http://localhost:8000 # Ganti ke link Cloudflare jika pakai tunnel
API_URL=http://localhost:3000 # Ganti ke link Cloudflare jika pakai tunnel
GROQ_API_KEY=
NODE_ENV=development